.header__title {
    font-size: 100%;
    text-transform: uppercase;
    color: $primary_color;
    text-align: center;
    font-weight: bold;
}

.nav-link {
    color: $primary_color;
    &:hover{
        color: $tertiary_color;
    }
}

.header-color {
    background-color: $secondary_color;
}